<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Debridement at Encompass HealthCare</title>
</head>
<body>
    <h1>Debridement</h1>
    <p>Wound debridement is available at Encompass HealthCare and Wound Medicine in West Bloomfield, Michigan right here in our outpatient office so that you don’t have to go to the hospital.</p>
    <p>Wound debridement is the process of clearing away dead or necrotic tissues that can inhibit healing. Debridement creates a fresh wound bed to promote healing. By “re-injuring” the wound, your body “thinks” that this is a fresh, new wound and thus re-starts the healing process by producing collagen, the necessary bodily responses and by igniting all of the body’s natural healing mechanisms.</p>
    <p>Debridement, while useful at times, is never the primary treatment to heal your wound and is no substitute for our comprehensive “5 Reasons Why Wounds Don’t Heal” plan.</p>
    <p>Our outpatient facility, located on the border of West Bloomfield, Walled Lake and Commerce township, is just minutes from many of the Oakland, Wayne, Washtenaw, and Macomb Michigan counties.</p>
    <p>There are several ways to debride a wound. The types of wound debridement include surgical, ultrasonic, autolytic, enzymatic, mechanical and maggot.</p>
    <h2>Surgical Debridement:</h2>
    <p>This is the process of removing damaged or dying tissue surgically. In this case, Dr. Ruben visually inspects the tissue, determines what tissue is viable, and removes the tissue that is not salvageable. This process often requires local anesthesia.</p>
    <p>The ultrasonic method is fast, safe and effective, utilizing ultrasonic sound waves to break up and remove dead, necrotic tissue from a wound bed without damaging healthy surrounding tissue.
    </p>

    <h2>Autolytic Debridement:
    </h2>
    <p>This is the body’s own process of getting rid of dead tissue and keeping healthy tissue. This process may be assisted by a dressing or wound care.

    </p>

    <h2>Enzymatic Debridement:
    </h2>
    <p>This type uses enzyme solutions or ointments to treat the tissue. Typically, the solution or ointment is combined with a dressing that is changed regularly. This method involves the application of collagenase, an enzyme that can selectively digest only the collagen in wounds that holds necrotic tissue to the wound bed.
    </p>
    <h2>Mechanical Debridement:</h2>
    <p>This form of debridement is the removal of tissue using a dressing that is changed regularly. The dressing, commonly referred to as a wet to dry dressing, consists of moist gauze being applied to a wound which is then covered by a sterile bandage. After a set period of time, the dressing will dry out, which allows the tissue to adhere to the gauze. When the dressing is removed, the tissue that adhered to the gauze is also removed.</p>

    <h2>Maggot Debridement:</h2>
    <p>This type of debridement uses maggots, or fly larva, that are raised in a sterile environment to debride wounds. The maggots are placed on a wound, typically under a loose bandage, where they eat dead or dying tissue. Maggots are a selective type of debridement, meaning they only consume unhealthy tissue, leaving the healthy tissue undamaged.</p>

</body>
</html>